@import url(http://fonts.googleapis.com/css?family=Dosis);
 
footer{
   margin-top: 2cm;
} 
.titre{
 margin-bottom: 10px;
}

.corps{
width:960px;
margin-top:2cm;
text-align:center;
}
   
.font{
    font-family: 'Dosis', cursive;
    color:black;
    text-shadow: #ffffff 0.7px 0.7px, #ffffff -0.7px 0.7px, #ffffff -0.7px -0.7px, #ffffff 0.7px -0.7px;
    text-align:justify;
    padding: 10px;
         }

.fontinfo{
    font-family: 'Dosis', cursive;
    color:black;
    text-align:justify;
    padding: 10px;
         }
         
.font_explain{
    font-family: 'Dosis', cursive;
    font-size: 20px;
    color:black;
    text-align:justify;
    padding: 10px;
         }
         
.font2{
    font-family: 'Dosis', cursive;
    color:black;
    text-shadow: #ffffff 0.7px 0.7px, #ffffff -0.7px 0.7px, #ffffff -0.7px -0.7px, #ffffff 0.7px -0.7px;
    padding: 10px;
         }
         
.lastp{
   font-family: 'Dosis', cursive;
   font-size: 20px;
   color:black;
   text-align:justify;
   margin-bottom: 10px;
}         

.navbar-brand{
    font-family: 'Dosis', cursive;
    color:white;
    text-shadow: #000000 0.5px 0.5px, #000000 -0.5px 0.5px, #000000 -0.5px -0.5px, #000000 0.5px -0.5px;
    padding:15px; 
}
         
.jumbotron {
    margin-bottom: 0px;
    height: 260px;
    color: white; /* Le texte sera affiché en blanc */
    margin-top: 2cm;
    margin-left: 2cm;
    width:200px;
}

.btn-serieux1{
    color :#FFFFFF;
    background-color:#AA1122;
    font-family: 'Dosis', cursive;
    font-size: medium;
    
}

.btn-serieux2{
    color :#AA1122;
    background-color:#FFFFFF;
    font-family: 'Dosis', cursive;
    font-size: large;
}

.info{
   margin-top: 10cm;
}
