@import url(http://fonts.googleapis.com/css?family=Dosis);
   
.font{
    font-family: 'Dosis', cursive;
    color:black;
    text-shadow: #ffffff 0.7px 0.7px, #ffffff -0.7px 0.7px, #ffffff -0.7px -0.7px, #ffffff 0.7px -0.7px;
         }
         
.jumbotron {
    margin-bottom: 0px;
    height: 1px;
    color: white; /* Le texte sera affiché en blanc */
    text-shadow: black 0.3em 0.3em 0.3em;
}
